@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;

}
.border{
    margin: 10px auto;
    width: 100vw;
    background-color: #0693e3;
    height: 8vh;
    position: sticky;
    top: 0;
}
.border nav ul li{
    list-style-type: none;
    float: left;
    padding: 1vw;
}
.border nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
    font-family: 'Poppins', sans-serif;
}
.border nav ul li a:hover{
    color: #0693e3;
    
}
.topbar{
    font-family: 'Poppins', sans-serif;
    
}

p a.header{
    margin: 0;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    
}
p a.header1{
    padding-left: 10px;
    text-decoration: none;
    color: rgb(0, 217, 255);
}
p a.header2{
    margin-left: 500px;
    text-decoration: none;
    color: #0693e3;
    background-color: white;
}
p a.header3{
    margin-left: 80px;
    text-decoration: none;
    color: #0693e3;
    background-color: white;
}
p.header{
    background-color: #0693e3;
    padding: 10px;
    padding-left: 100px;
    margin: 0;
}
img{
    width: 78vw;
    margin-top: 10px;
    padding-left:12vw;
    
}

.main{
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.left{
    width: 20vw;
    height: auto;
}
.left ul{
    padding-left: 4vw;
    padding-right: 2vW;
}
.left ul li{
    padding: 1vw 0 0 0;
}
.left ul li a {
    text-decoration: none;
    color: black;

}
.mid{
    width: 65vw;
    height: auto;
    display: flex;
    
}
.departmentinfo{
    width: 65vw;
}
.departmentinfo h1{
    padding-top: 1vw;
    font-size: 3vw;
}
.HOD p{
    padding: 1vw;
}
.HOD img{
    width: 20vw;
    padding: 1vw;
    margin: 0;
}
.departmentpic img{
    width: 12vw;
    margin: 0;
    padding: 1vw 3vw 0 0;
}
.right{
    width: 20vw;
    height: auto;
}
.right ul{
    padding-left:2vw;
    padding-right: 4vw;
}
.right ul li{
    padding: 1vw 0 0 0;
}
.right ul li a{
    text-decoration: none;
    color: black;
}
.bottombar{
    background-color: #0693e3;
    height: 40vh;
}
.container2{
    width: 80vw;
    display: flex;
    margin: 0 auto;
    height: 40vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.container2 h2{
    margin: 1vw 3vw 0 10px;
    padding-bottom: 0.4vw;
    border-bottom: 1px solid white;
}
.container2 ul {
    margin: 1vw 3vw 0 10px;
    padding: 0.2vw 0 0 1.5vw;
}
.container2 ul li{
    padding: 0.5vw;
}
.contactus{
    width: 27vw;
}
.info{
    width: 27vw;
}
.info ul {
    font-weight: bol;   
}

.quicklink{
    width: 25vw;
}

.info button{
    border: none;
    cursor: pointer;
    margin: 5vw 10vw 0vw 10vw;
    padding: 1vw;
    background-color: #0693e3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1.3vw;
    
}
.info button:hover{
    background-color: #0080ca;
}
.info button a{
    text-decoration: none;
    color: white;
}